@import "./palette.scss";
body {
  display: grid;
  place-items: center;
  text-align: center;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background-color: $white;
  font-size: clamp(
    12px,
    calc(0.26vw + 11.08px),
    16px
  ); //360px view: 12px / 1920px view: 16px
}

#root {
  font-family: "Poppins", "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  color: $black;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 768px;
  max-height: 932px;
  width: 100vw;
  height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $lightgrey;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

section {
  height: 100%;
}

button {
  font-family: "IBM Plex Sans KR", sans-serif;
  border: 0;
  background-color: $black;
  color: $white;
  margin: 1vh;
  padding-block: 1vh;
  border-radius: 10px;
  font-size: 1rem;
  width: 150px;
}
button:hover,
button:focus {
  background-color: $lightblack;
  transition: 0.3s;
}
button:active {
  background-color: $grey;
  transition: 0.3s;
}
img {
  width: 100%;
}

.spinner {
  margin-inline: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: $grey;
  animation: spinner-grow 0.5s linear infinite;
}

@media screen and (min-width: 768px) and (min-height: 932px) {
  body {
    background-color: $shadowborder;
  }
  #root {
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 1px 1px 10px $shadowborder;
    background-color: $white;
  }
}

@media screen and (max-width: 768px) and (max-height: 932px) {
  // main{
  //   // overflow-y: scroll;
  //   // margin-block: 8vh;
  // }
  // section{
  //   // overflow-y: scroll;
  // }
}
