@import './palette.scss';

.hospital-container{
  overflow: scroll;
  display: grid;
  gap: 1vw;
  padding: 3vw;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.hospital{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  box-shadow: 1px 1px 5px #0000005c;
  padding: 1em;
  text-wrap: balance;
  border-radius: 50px;
  &-loading{
    padding:2em;
    grid-column-start:1;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.hospital:nth-child(1){
  background-color: #2b2653;
  color: #f0f0f0;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-end: 1;
  button{
    background-color: #f0f0f0;
    color: #2b2653;
  }
  button:hover{
    background-color: #b6adff;
  }
}
.hospital:nth-child(2n){
  background-color: $orange;
}

.hospital:nth-child(3n){
  background-color: $red;
}