$red: #ae445a;

$orange: #ebdbb5;
$peach: #ffefe7;

$skyblue: #82b5f7;
$lightblue: #e3ebf8;
$lightpurple: #ccd4f9;

$grey: #6c7683;
$lightgrey:#f1f3f2;

$lightblack: #374353;
$black: #031224;

$white: #fefefe;;
$transparent : #d0d0d098;

$shadowborder: #6c76836a;
