@import './palette.scss';

.survey-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline:3vw;
  h1{
    // margin:0;
    strong {
      font-size: 25px;
      color: $red;
    }
  }
}

.survey-btn{
  text-align: center;
  width:40px;
  font-size: 2em;
  padding:0;
}
.btn-group{
  display:grid;
  // gap:1vw;
  grid-template-columns: repeat(5, 1fr);
}

.survey{
  &-number{
    padding:0.5em;
    background-color: $lightblack;
    color:$white;
    font-weight: 300;
    border-radius: 25px;
  }
  &-question{
    font-size:25px;
    text-wrap: balance;
    word-break: keep-all;
  }
}

.chart{
  margin: 3vw;
  padding: 2vw;
  padding-inline: 2vw;
  background-color: $white;
  border-radius: 25px;
  box-shadow: 1px 1px 5px $shadowborder;
}
