@import "../../../styles/palette.scss";

@keyframes spinner-grow {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 0.3;
    transform: none;
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(0px) scale(0.2);
  }

  100% {
    transform: translateX(0px) scale(1);
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(0px) scale(0.2);
  }

  100% {
    transform: translateX(0px) scale(1);
  }
}

.chat {
  display: block;
  width: 100%;
}
.chat-container {
  height: 93%;
  width: 100%;
  border-radius: 25px;
  overflow: scroll;
  .chatbox {
    border-radius: 15px;
    text-align: left;
    width: fit-content;
    max-width: 70%;
    margin-top: 2vw;
    padding: 10px;
    box-shadow: 1px 1px 5px $shadowborder;
    text-wrap: wrap;
    word-break: keep-all;

    &-user {
      @extend .chatbox;
      animation: slideInRight 0.6s ease forwards;
      background-color: $white;
      border-top-right-radius: 0px;
      margin-right: 2vw;
      margin-left: auto;
    }

    &-ai {
      @extend .chatbox;
      animation: slideInLeft 0.6s ease forwards;
      border-top-left-radius: 0px;
      background-color: $skyblue;
      margin-left: 2vw;
      margin-right: auto;
    }

    &-loading {
      @extend .chatbox-ai;
      display: flex;
    }
  }
}

.chat-input {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 7%;
  width: 100%;
  border-top: 1px solid $shadowborder;
  input {
    font-family: "IBM Plex Sans KR", sans-serif;
    border-radius: 15px;
    height: 70%;
    width: 85%;
    border: 1px solid $shadowborder;
  }
  button {
    .material-symbols-outlined {
      padding-top: 4px;
      padding-left: 1px;
      font-size: 30px;
    }
    width: 42px;
    height: 40px;
    border-radius: 50%;
    padding: 0;
    margin: 0;
  }
}

@media screen and (max-width: 768px) and (max-height: 932px) {
  .chat-input {
    position: fixed;
    min-height: 50px;
    bottom: 60px;
  }
}
