@import "../../styles/palette.scss";

header {
  width: 100%;
  padding-block: 1vh;
  text-align: left;
  background-color: $white;
  border-bottom: 1px solid $shadowborder;
  display: flex;
  justify-content: space-between;
  h1,
  h2 {
    margin: 0;
    margin-left: 2vw;
    line-height: 1;
  }
  h2 {
    font-weight: 500;
  }
  a {
    margin-right: 2vw;
    text-decoration: underline;
    cursor: pointer;
  }
}
